/Observation.pyc
/Wrapper.pyc
/main.pyc
/MyUtil.pyc
/blob_img.png
/scikit.png
/triplot.png
/areavshours.png
/aspectvshours.png
/results.txt
/outputs/
/CalWrapper.json
/ROI.png
/imageROI.png
/interp.png
/interp0.png
/interp1.png
/interp2.png
/interp3.png
/interp4.png
/original.png
/stem.png
/stemNOT.png
