/*.pyc
/*.png
/outputs/
/CalWrapper.json
/sample_images/
/calcscanrate.for
/calcscanrate.out
/scanratepar.dat
/images/
/NSL/
/CalWrapper2.json
/calcscanwow.for
/calcscanwow.out
/smearingVSrate.eps
/xcorr.eps
/xcorr2.eps
/xcorr3.eps
